*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul, ol, li {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}
html, body{
    min-width: 100%;
    min-height: 100%;
}
img{
    width: 100%;
    height: 100%;
}
p{
    margin: 0;
}
.p-n{
    padding:0 !important;
}
.m-n{
    margin: 0 !important;
}
.d-i-b{
    display: inline-block;
}
.m-r-5{
    margin-right: 5px;
}
.m-r-10{
    margin-right: 10px;
}
.m-r-15{
    margin-right: 15px;    
}
button{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
  }
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }
  .container .checkmark:after {
    left: 6px;
    top: 4px;
    width: 8px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }